*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #f9f5f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    color: #212529;
    font-size: 5rem;
    margin-bottom: 3rem;
}
.link{
    color: #212529;
    text-decoration: none;
    margin-bottom: 3rem;
    font-size: 2rem;
}
.boton{
    width: 15rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color:#6e5760;
    color: whitesmoke;
}
.boton:hover{
    background-color: grey;
}

.btnEliminar{
    font-size: 1.2rem;
}

.labels{
    color: #212529;
    font-size: 2rem;
}
.inputs{
    font-size: 2rem;
    width: 30rem;
    height: 4rem;
}

.formulario{
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid grey;
border-radius: 1rem;
}


.fila{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.cocktailFinal{
    color: #212529;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #212529;
    border-radius: 1rem;
    width: 30%;
    
}
p{
    font-size: 1.5rem;
}
.color{
    background-color: rgb(87, 84, 84);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}